@charset "UTF-8";
/* Base styles */
*, input[type=search] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color:#ebebeb;
  height: 100%;
}

body {
  height: 100%;
  color: #202020;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 13px;
  line-height: 1.5; /* easier on the eyes for reading articles */
  margin: 0; /* remove default margin */
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

img[width], img[height] {
  max-width: none;
}

figure > img {
  display: block;
}

a {
  font-family:'Open Sans', sans-serif;
  text-decoration: none;
  color: #303030;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
[dir=rtl] table {
  text-align: right;
}

td, th {
  border-color: #EEE;
  border-style: solid;
  padding: 12px;
}

th {
  border-width: 1px 0;
  color: #BEBEBE;
  font-size: 11px;
  font-weight: normal;
  white-space: nowrap;
  text-align: inherit;
}

td {
  border-width: 0 0 1px 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 400;
}

h1 {
  font-size: 20px;
}

input, label {
  display: inline-block;
  vertical-align: middle;
}

label {
  font-size: 12px;
}

input[type="checkbox"] + label {
  margin-left: 5px;
}

input, textarea {
  border: 1px solid #DDD;
  padding: 10px;
}

textarea {
  height: 100px;
  padding: 7px 10px;
  resize: vertical;
}

textarea, input[type=text] {
  width: 100%;
}

input, textarea, select {
  color: #555;
}

input::-ms-clear {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: #CCC;
}

:-ms-input-placeholder {
  color: #CCC;
}

::-moz-placeholder {
  color: #CCC;
}

/* Buttons, and the navigation Log In Button */
button, [role=button], [type=button], [type=submit] {
  color: $color_4;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

a[role=button]:hover {
  text-decoration: none;
}

input[type=submit] {
  background: #444;
  border-color: transparent;
  color: #FFF;
  padding: 10px 30px;
}

input[type=submit][disabled] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 8 */
  opacity: 0.4;
}

button img, [role=button] img {
  margin: 0 5px 0 0;
  height: 20px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
[dir=rtl] button img, [dir=rtl] [role=button] img {
  margin: 0 0 0 5px;
}

.user-avatar { /* remove avatar from username in navigation */
  display: none;
}

/* Forms */
#request_description {
  height: 250px;
}

.form {
  max-width: 100%;
}

.form-field ~ .form-field {
  margin-top: 25px;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input[type=checkbox] + label {
  margin: 0 0 0 10px;
}

.form-field.required > label:after {
  content: "*";
  color: #60798A;
  margin-left: 2px;
}

.form-field p {
  color: #4b4b4b;
  font-size: 12px;
}

.form-field input[type=number], .form-field input.datepicker {
  width: 150px;
}

.form form + form {
  margin-top: 25px;
}

.searchbox {
  margin: 25px 0px;
}

.searchbox-suggestions {
  background-color: #fff;
  border: 1px solid #EEE;
  padding: 10px 20px;
}

.searchbox-suggestions li {
  padding: 5px 0;
}

[data-loading="true"] input,
[data-loading="true"] textarea {
  background: transparent url(/hc/assets/loader.gif) 99% 50% no-repeat;
  background-size: 16px 16px;
}

.form footer {
  border-top: 1px solid #EEE;
  margin-top: 40px;
  padding-top: 30px;
  text-align: right;
}

.form footer a {
  color: #CCC;
  cursor: pointer;
  margin-right: 15px;
}

/*custom form changes*/
#new_request > div.form-field.string.required.request_custom_fields_28135878 { /*"version" in forms*/
  text-align: justify;
  padding-right: 40px;
  width: 50%;
  float: left;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent
      rgba(128, 128, 128, 0.2)
      transparent
      transparent;
}

#new_request > div.form-field.decimal.required.request_custom_fields_28135958 { /*"Build" in forms*/
  text-align: justify;
  padding-right: 40px;
  padding-left: 40px;
  width: 50%;
  float: right;
}

#new_request > div.form-field.decimal.required.request_custom_fields_28135958 > p {
  padding-top: 5px;
}

#new_request > div.form-field.string.required.request_custom_fields_28126367 > label { /* "priority" in forms*/
  width: 50%;
}

#request_custom_fields_28135958 { /* "build" form's textbox*/
  padding: 5px;
}

#new_request > div.form-field.string.required.request_custom_fields_28135878 > a,
#new_request > div.form-field.string.required.request_custom_fields_28126367 > a {
  max-width: 100%;
}


/* Form attachments area */
.upload-dropzone {
  border-color: rgba(0,0,0,.35);
}

#upload-dropzone span {
  color: rgba(0,0,0,.75);
}

/* Navigation menus */
.nav li, .nav-bordered li, .nav-spaced li {
  display: inline-block;
  font-weight: bold;
}

.nav li a, .nav-bordered li a, .nav-spaced li a {
  font-weight: normal;
}

.nav-bordered li + li {
  border-color: #EEE;
  border-style: solid;
  border-width: 0 0 0 1px;
  margin: 0 0 0 30px;
  padding: 0 0 0 30px;
}

[dir=rtl] .nav-bordered li + li {
  border-width: 0 1px 0 0;
  margin: 0 30px 0 0;
  padding: 0 30px 0 0;
}

.nav-spaced li + li {
  margin: 0 0 0 40px;
}

[dir=rtl] .nav-spaced li + li {
  margin: 0 40px 0 0;
}

/* Breadcrumbs */
.breadcrumbs li {
  color: #333;
  display: inline-block;
  font-size: 12px;
}
.breadcrumbs li + li:before {
  content: ">";
  color: #60798A;
  margin-left: 4px;
  margin-right: 6px;
}
.breadcrumbs li a {
  color: #333;
}

.breadcrumbs li a:hover {
  color: #45d167;
}

/* Labels */
.label, .request-status {
  border-radius: 20px;
  display: inline-block;
  font-size: 10px;
  padding: 3px 10px;
  text-transform: uppercase;
  white-space: nowrap;
}

/* Metadata */
.meta, .meta-group {
  color: #CCC;
  display: inline-block;
  font-size: 11px;
}

.meta-group * + *:before {
  content: "\2022";
  font-size: 8px;
  margin: 0 10px;
}

/* Helper classes */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Social share links */
.share {
  white-space: nowrap;
}

.share li, .share a {
  display: inline-block;
}

.share a {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  vertical-align: middle;
  width: 30px;
}

.share a:before {
  background: #CCC;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  font-family: "entypo";
  text-align: center;
  width: 100%;
}

.share a:hover {
  text-decoration: none;
}

.share-twitter:before {
  content: "\F309";
}

.share-facebook:before {
  content: "\F30C";
}

.share-linkedin:before {
  content: "\F318";
}

.share-googleplus:before {
  content: "\F30F";
}

/* Pagination */
.pagination {
  margin: 20px 0;
  text-align: center;
}

.pagination * {
  display: inline-block;
}

.pagination li {
  border: 1px solid #EEE;
  float: left;
  margin-left: -1px;
}
[dir=rtl] .pagination li {
  float: right;
}

.pagination a, .pagination span {
  color: inherit;
  font-size: 12px;
  padding: 5px 12px;
}

.pagination-current {
  background-color: #f9f9f9;
  color: #BEBEBE;
}

.pagination-first {
  border-radius: 3px 0 0 3px;
}
[dir=rtl] .pagination-first {
  border-radius: 0 3px 3px 0;
}

.pagination-last {
  border-radius: 0 3px 3px 0;
}
[dir=rtl] .pagination-last {
  border-radius: 3px 0 0 3px;
}

/* Markdown styles */
.markdown {
  word-wrap: break-word;
  line-height: 1.7;
}
.markdown img {
  max-width: 100%;
}
.markdown hr {
  background-color: #EEE;
  border: 0;
  height: 1px;
}
.markdown ul, .markdown ol {
  list-style-position: inside;
  padding: 0 15px;
}
.markdown ul {
  list-style-type: disc;
}
.markdown ol {
  list-style-type: decimal;
}
.markdown ol ul, .markdown ul ul {
  list-style-type: circle;
}
.markdown ol ol ul,
.markdown ol ul ul,
.markdown ul ol ul,
.markdown ul ul ul {
  list-style-type: square;
}
.markdown pre {
  background: #f9f9f9;
  border: 1px solid #EEE;
  border-radius: 3px;
  padding: 10px 15px;
  overflow: auto;
  white-space: pre;
}
.markdown blockquote {
  border-left: 1px solid #EEE;
  color: #BEBEBE;
  font-style: italic;
  padding: 0 15px;
}

h1 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin: 0.8em 0;
}

/* Notification Banner */
.notification-notice {
  position: absolute;
}

.notification-error {
  position: absolute;
  background: #e36a6a;
  border-color: #8f2e2e;
}

.notification {
  margin-top: 220px;
  font-family: 'Open Sans', sans-serif;
}

/* ====================================================
   Header, Navigation, Content Frame
   ==================================================== */

.header-inner {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto; /* centers the header */
}

.header {
  position: absolute; /* allows header to overlap search section */
  left: 0; /* These 2 properties stretch the header across the page */
  right: 0;
  top: 0; /* adds margin to top, brings header down a bit */
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
  margin-top: 6px;
}

.nav-link{
  float: left;
}

.left-nav .nav-link > a {
  font-size: 20px;
  color: #afafaf;
}

.right-nav .nav-link > a {
  color: #f4f6f6;
}

.nav-link a:hover {
  color: #ff7000;
}

.logo {
  float: left;
  margin-top: 26px; /* moves logo down to be in line with nav text */
}

.nav-link > a { /* gives nav text bigger clickable area */
  display: inline-block;
  padding: 20px;
}

.user-info > [role=button] { /* styling for username nav button */
  padding: 19px;
  color: #f4f6f6;
  /* hover off */
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}

.user-info > [role=button]:hover {
  color: #ff7000;
  /* hover on */
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}

.dropdown-menu { /* changing default values I can't access */
  border: none;
  margin-top: -10px;
  border-radius: 0;
  padding: 0;
}

.dropdown-menu [role=menuitem] { /* color of links in dropdown menu */
  color: #505050;
}

#user #user-dropdown { /* transparency and size of dropdown menu */
  background: white;
  min-width: 175px;
}

.dropdown-menu-end { /* push dropdown menu to the left a bit */
  right: 7px;
}

.dropdown-menu [role=separator] { /* dropdown menu separator thingy */
  margin: 0;
  padding: 0;
}

/*zendesk stuff*/
.user-nav {
  display: table-cell;
  vertical-align: middle;
}

.user-nav {
  text-align: right;
}
.user-nav > * {
  display: inline-block;
  margin: 0 0 0 25px;
}
[dir=rtl] .user-nav {
  text-align: left;
}
[dir=rtl] .user-nav > * {
  margin: 0 25px 0 0;
}

/*
 * Column size
 */
.column-container {
  width: 1100px;
  margin: 20px auto;
}


.main-column, .side-column {
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px solid rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
}

.main-column {
  display: block;
  width: 700px;
  float: left;
}

.side-column {
  display: block;
  width: 380px;
  float: right;
  margin-bottom: 20px;
}
[dir=rtl] .side-column {
  margin-left: 0;
  margin-right: 45px;
}

.wide-column {
  width: 1100px;
}

.article-column {
  min-height: 800px;
}

/* ====================================================
   Search
   ==================================================== */
.hero-search {
  height: 250px;
  padding-top: 70px; /* pushes search bar down within this div */
  background-image: url(//p5.zdassets.com/hc/theme_assets/806071/200153628/search-blue.png);
  background-position: 0 0;
  background-size: 600px;
  background-repeat: repeat;
  background-attachment: fixed;
  box-shadow: rgba(0, 0, 0, 0.6) 0 -7px 20px -7px inset;
}

.search-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto; /* centers the search container */
}

form.search::before { /* adds blank content into form */
  content: " ";
  display: table;
}

.search-container
.search input {
  border: 0;
  display: inline-block;
  height: 55px;
  outline: 0;
  vertical-align: middle;
}

.search-container
.search input[type=search] {
  width: 80%;
  padding: 8px 12px;
  background-color: #fafafa;
  float: left;
  font-size: 16px;
  text-align: left;
}

/***** Search Button *****/
.search-container
.search input[type=submit] {
  width: 20%;
  height: 55px;
  float: left;
  background-color: #607887;
  color: white;
  font-size: 16px;
  text-shadow: rgba(40, 60, 70, 0.5) 1px 1px 0;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
}

.search-container
.search input[type=submit]:hover {
  background-color: #ff7000;
}

/***** Homepage Ticket Buttons *****/
.ticket-button-container::before, /* prevents top margin from collapsing in itself */
.ticket-button-container::after {
  content: " ";
  display: table;
}

.ticket-button-container::after { /* clears floats */
  clear: both;
}

.ticket-button-container {
  padding: 0 120px; /* pushes container in from both sides */
  max-width: 800px;
  margin: 0 auto; /* centers the buttons */
  margin-top: 95px; /* pushes buttons down from search bar */
}

.ticket-button-column {
  width: 50%;
  float: left;
}

.ticket-button {
  display: block;
  margin: 0 auto;
  width: 85%;
  height: 45px;
  padding-top: 13px; /* pushes text down into center of button */
  text-align: center;
  color: white;
  background-color: #60798a;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  text-shadow: rgba(40, 60, 70, 0.5) 1px 1px 0;
}

.ticket-button-column > a:hover {
  background-color: #45d167;
}

.button-text {
  font-size: 12px;
  padding: 0;
  text-align: center;
  color: #a0a0a0;
  margin-top: 9px;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
}

.button-text a {
  color: lightgray;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
}

.button-text a:hover {
  color: #54d65e;
}


/* ====================================================
   404 Page
   ==================================================== */
.error {
  text-align: center;
}

.error > p {
  padding: 40px;
  font-size: 20px;
}

.goodness {
  color: pink;
}

/* ====================================================
   Footer
   ==================================================== */
.footer-container {
  margin-top: 50px;
}

.social-links {
  float: left;
  list-style: none;
  margin-left: 30px;
  margin-bottom: 30px;
}

.social-links::before,
.social-links::after {
  content: " ";
  display: table;
}

.social-links::after {
  clear: both;
}
/***** social icons *****/
.social-links li {
  float: left;
  list-style: none;
}

.sml-icon {
  width: 20px;
  height: 20px;
  float: left;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: top;
  text-align: left;
  display: block; /* need this for text-indent to work */
  text-indent: -999em;
  direction: ltr;
  opacity: 0.25;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.sml-icon:hover {
  opacity: 0.5;
}

.social-links .twitter-icon {
  width: 30px;
  background-image: url(//p5.zdassets.com/hc/theme_assets/806071/200153628/twitter.svg);
  background-position: center top;
}

.social-links .linkedin-icon {
  width: 30px;
  background-image: url(//p5.zdassets.com/hc/theme_assets/806071/200153628/linkedin.svg);
  background-position: center top;
}

.social-links .youtube-icon {
  width: 30px;
  background-image: url(//p5.zdassets.com/hc/theme_assets/806071/200153628/youtube.svg);
  background-position: center top;
}

/***** footer navigation *****/
.footer-nav {
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
}

.footer-nav li {
  float: left;
  margin-left: 20px;
}

.footer-nav a {
  color: #999;
  font-size: 12px;
}

.footer-nav a:hover {
  color: #444;
}

/***** sticky footer *****/
main {
  min-height: 75%;
  margin-bottom: -101px;
}

main::after {
  content: " ";
  display: block;
}

main::after, footer-container {
  height: 100px;
}


/* ====================================================
   Navigation pages
   ==================================================== */

.help-center-name {
  color: #FFF;
  font-size: 60px;
  font-weight: bold;
  margin: 65px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.help-center-name + .search {
  margin-bottom: 135px;
}



.category-tree h2 ~ *, .category-tree h3 ~ * {
  display: none;
}

.category-tree .category {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
  width: 49.5%;
}

.category-tree .category h2 {
  margin: 12px 0;
}

.category-tree .category h2 a {
  color: inherit;
  font-weight: lighter;
}

.category-tree .section h3 {
  margin: 0;
}

.category-tree .section h3 a {
  color: inherit;
  font-weight: bold;
  font-size: 14px;
}

.category-tree .section {
  margin: 5px 20px;
}

.category-tree .article-list, .category-tree .section-empty a {
  margin: 20px;
}

.category-tree .section-empty a {
  display: block;
}

.category-tree .article-list li {
  margin-bottom: 5px;
}

.category-description, .section-description {
  color: #BBB;
  margin-bottom: 30px;
  margin-top: 0px;
}

.section-tree .section {
  display: inline-block;
  padding: 0 50px 50px 0;
  vertical-align: top;
  width: 49.5%;
}

.section-tree .section h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.section-tree .section h3 a {
  color: inherit;
}

.section-tree .article-list li {
  margin-bottom: 5px;
}

.section-subscribe, .section-unsubscribe,
.article-subscribe, .article-unsubscribe {
  float: right;
}

.section-subscribe [role=button], .section-unsubscribe,
.article-subscribe, .article-unsubscribe {
  background: #ededed;
  border: 0;
  border-radius: 5px;
  box-shadow: none;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  padding: 0 10px;
}

.article-list li {
  margin-bottom: 15px;
}

.see-all-articles {
  background: #f2f2f2;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 10px;
}

.category-tree .see-all-articles {
  position: relative;
  top: -10px;
  left: 20px;
}

/* ====================================================
   Community box
   ==================================================== */
.community {
  background: #f8f8f8;
  border-radius: 5px;
  margin-top: 40px;
  padding: 25px 30px;
}
.community .recent-activity {
  padding: 0;
  width: auto;
}
.community .recent-activity h2 {
  border-bottom: 1px solid #e6e6e6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: normal;
  font-size: inherit;
  margin: 0 0 15px 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.community h4 {
  color: #111111;
  float: right;
  font-size: 13px;
  margin: 0;
}
[dir=rtl] .community h4 {
  float: left;
}

.community h4 a {
  font-weight: normal;
  font-size: 11px;
}

.trending-questions {
  margin-bottom: 40px;
}

.trending-questions h2 {
  border-bottom: 1px solid #e6e6e6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: #111111;
  font-weight: normal;
  font-size: inherit;
  margin: 0 0 15px 0;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.trending-questions:last-child {
  margin-bottom: 0;
}

.trending-question-list {
  margin-bottom: 15px;
}

.trending-question-list li {
  display: inline-block;
  font-size: 13px;
  padding: 10px 25px 0 0;
  width: 49.5%;
}

/* ====================================================
   Promoted tooltip
   ==================================================== */
.article-promoted span {
  cursor: default;
  font-family: "entypo";
  margin-right: 5px;
  position: relative;
}

.article-promoted span:before,
.article-promoted span:after {
  display: none;
  position: absolute;
}

.article-promoted span:hover:before,
.article-promoted span:hover:after {
  display: block;
}

.article-promoted span:before {
  background: #222;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  color: #FFF;
  content: attr(data-title);
  font-family: sans-serif;
  left: -10px;
  margin-top: 5px;
  padding: 3px 10px;
  top: 100%;
  white-space: nowrap;
  z-index: 1;
}

.article-promoted span:after {
  border-bottom: 5px solid #222;
  border-bottom: 5px solid rgba(0, 0, 0, 0.85);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
}

/* ====================================================
   Sub nav
   ==================================================== */
.sub-nav {
  background-color: #fafafa;
  width: 1100px;
  margin: 20px auto 0;
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
}

.sub-nav .breadcrumbs {
  overflow: hidden;
  white-space: nowrap;
}
.sub-nav .search {
  width: 300px;
}

/* Article */
.article-column {
  width: 700px;
}

h1 .visibility-internal-icon:before {
  width: auto;
  min-width: 13px;
  margin-right: 10px;
}

.article-info > * {
  display: table-cell;
  vertical-align: middle;
}

.article-avatar {
  min-width: 55px;
}
.article-avatar img {
  border-radius: 3px;
  max-height: 38px;
  max-width: 38px;
}

.article-meta {
  width: 100%;
}

.article-updated {
  display: block;
}

.article-more-questions {
  background-color: #fafafa;
  width: 700px;
  margin: 20px auto 0;
  padding: 15px 0;
  float: left;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.05);
}

.article-more-questions a {
  padding: 15px 180px;
}

.article-more-questions a:hover {
  color: #ff7000;
}

.main-articles h1 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin: 0 0 10px;
  font-size: 20px;
}

.main-articles h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin: 0 0 10px;
  font-size: 16px;
}

.main-articles .related-articles li:hover,
.main-articles .recent-articles li:hover {
  background-color: #ddecff;
}

.article-body {
  word-wrap: break-word;
}

.article-body table {
  table-layout: fixed;
}

.article-footer {
  border-bottom: 1px solid #EEE;
  margin-top: 15px;
  padding: 20px 0;
}
.article-footer .article-vote, .article-footer .share {
  display: table-cell;
}

.article-vote {
  width: 100%;
}

.article-vote > * {
  display: inline-block;
}

.article-vote-controls {
  margin: 0 5px;
}

.article-vote-count {
  color: #999;
  min-width: 20%;
}

.article-vote-up, .article-vote-down {
  color: inherit;
  font-family: "entypo";
  padding: 0px 10px;
}

.article-vote-up:before {
  content: "\1f44d";
}

.article-vote-down:before {
  content: "\1f44e";
}

.article-vote-up.article-voted {
  color: #6B9100;
  border-color: #6B9100;
}

.article-vote-down.article-voted {
  color: #999;
  border-color: #999;
}

.article-footer a, .article-footer a:before {
  background: #cccccc;
  box-shadow: none;
  border: 0;
  border-radius: 50%;
  color: #FFF;
  height: 30px;
  line-height: 30px;
}

/* ====================================================
   Requests
   ==================================================== */
.request-follow-up {
  text-align: right;
}

.follow-up-hint {
  display: inline-block;
  float: right;
  font-size: 13px;
  margin-top: 13px;
}

.request-details {
  background: #f6f6f6;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #ECECEC;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  margin: 30px 0 30px;
  padding: 15px 20px;
}

.request-details li + li {
  margin-top: 10px;
}

.request-header {
  font-weight: lighter;
  font-size: 1.7em;
  margin: 1em 0;
}

.request-id {
  color: #bbb;
  display: block;
  font-size: 13px;
}

.request-details {
  font-size: 12px;
}

.request-details dt ~ dt {
  font-weight: bold;
  margin-top: 15px;
}

.request-details dd {
  margin: 2px 0 0;
  word-wrap: break-word;
}

.request-details dd ul {
  margin: 10px 0;
}

.request-details dd li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
}

.request-details .nested-field-tag:before {
  content: " > ";
}
.request-details .nested-field-tag:first-child:before {
  content: "";
}

.request-status {
  color: #FFF;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 2px 5px;
  white-space: nowrap;
}

.request-open {
  background: #59BBE0;
}

.request-answered {
  background: #F5CA00;
}

.request-solved {
  background: #828282;
}

.page-header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}
.page-header > * {
  display: table-cell;
  vertical-align: middle;
}
.page-header > *:first-child {
  width: 100%;
}
.page-header + p {
  color: #BEBEBE;
  margin: -15px 0 20px 0;
}
.page-header h1 {
  font-size: 20px;
  font-weight: 400;
}

body.community-enabled .search-results-column {
  width: 430px !important;
}

.visibility-internal-icon:before {
  content: "\1F512";
  display: inline-block;
  font-family: "entypo";
  text-align: center;
  width: 13px;
}

.article-promoted span, .visibility-internal {
  cursor: default;
  position: relative;
}
.article-promoted span:before, .article-promoted span:after, .visibility-internal:before, .visibility-internal:after {
  display: none;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
}
.article-promoted span:before, .visibility-internal:before {
  background: #222;
  border-radius: 3px;
  color: #FFF;
  content: attr(data-title);
  font-family: sans-serif;
  left: -10px;
  margin-top: 5px;
  padding: 3px 10px;
  text-transform: none;
  top: 100%;
  white-space: nowrap;
  z-index: 1;
}
.article-promoted span:after, .visibility-internal:after {
  border-bottom: 5px solid #222;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -5px;
  width: 0;
}
.article-promoted span:hover:before, .article-promoted span:hover:after, .visibility-internal:hover:before, .visibility-internal:hover:after {
  display: block;
}

.article-body td {
  border-width: 1px;
}

/* Comments - Article, Request and Post pages */
.comment-list {
  margin-bottom: 25px;
}
.comment-list > * {
  border-bottom: 1px solid #EEE;
  padding: 25px 0;
}
.comment-list > *:first-child {
  border-top: 1px solid #EEE;
}

.comment-sorter {
  float: right;
}
.comment-sorter a {
  color: #999;
  text-decoration: none;
  padding-left: 20px;
}
[dir=rtl] .comment-sorter {
  float: left;
}
[dir=rtl] .comment-sorter a {
  padding-left: 0;
  padding-right: 20px;
}

.comment-sorter [aria-selected=true] {
  font-weight: bold;
  color: #333;
}

.comment, .comment-form {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.comment > *, .comment-form > * {
  display: table-cell;
  vertical-align: top;
}

.comment-vote, .comment-bookmark {
  text-align: center;
  width: 50px;
}

.comment-bookmark:before {
  color: #77a500;
  content: "\1F516";
  font-family: "entypo";
  font-size: 23px;
  line-height: 1.1;
}

.comment-avatar {
  position: relative;
  width: 85px;
}
.comment-avatar img {
  border-radius: 3px;
  max-width: 65px;
  max-height: 65px;
}

.comment-avatar-agent:after {
  background-color: transparent;
  background-image: url(/hc/assets/agent-marker.png);
  background-image: url(/hc/assets/agent-marker.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  content: " ";
  height: 15px;
  left: 55px;
  position: absolute;
  top: 55px;
  width: 15px;
}
[dir=rtl] .comment-avatar-agent:after {
  left: auto;
  right: 55px;
}

.comment-header {
  margin-bottom: 15px;
}

.comment-published, .comment-pending, .comment-official {
  border: 1px solid transparent;
  float: right;
  font-size: 11px;
  padding: 1px 5px;
}
[dir=rtl] .comment-published, [dir=rtl] .comment-pending, [dir=rtl] .comment-official {
  float: left;
}

.comment-published {
  color: #BEBEBE;
}
.comment-published:before {
  content: " ";
  display: inline-block;
  width: 5px;
}

.comment-pending, .comment-official {
  border-color: currentcolor;
  border-radius: 2px;
}

.comment-pending {
  color: #eec100;
}

.comment-official {
  color: #77a500;
}

.comment-form textarea {
  border-radius: 2px 2px 0 0;
  border-width: 1px;
}

.comment-attachments {
  border: 1px solid #DDD;
  margin-top: -1px;
  padding: 10px;
}

.comment-form-controls {
  display: none;
  margin-top: 10px;
  text-align: right;
}

.comment-form-controls input[type=submit] {
  margin-left: 15px;
}
[dir=rtl] .comment-form-controls input[type=submit] {
  margin-left: 0;
  margin-right: 15px;
}

.comment-screencasts, .comment-mark-as-solved {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
[dir=rtl] .comment-screencasts, [dir=rtl] .comment-mark-as-solved {
  margin-left: 20px;
}

.comment-actions {
  float: right;
  color: #999;
}
[dir=rtl] .comment-actions {
  float: left;
}

.comment-actions .dropdown-toggle:before {
  content: "\2699";
  font-size: 11px;
  font-family: "entypo";
}

.attachment-list, .screencast-list {
  font-size: 11px;
  margin-top: 25px;
}
.attachment-list span, .screencast-list span {
  color: #999;
}
[dir=rtl] .attachment-list span, [dir=rtl] .screencast-list span {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.attachment-list li, .screencast-list li {
  margin-bottom: 10px;
}
.attachment-list li:before, .screencast-list li:before {
  background: #f9f9f9;
  border-radius: 3px;
  color: #bbb;
  font-family: "entypo";
  margin-right: 5px;
  padding: 5px;
}

.attachment-list li:before {
  content: "\1F4CE";
}

.screencast-list li:before {
  content: "\1F4BB";
}

.my-activities-header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 25px;
  padding: 25px 0;
}
.my-activities-header .breadcrumbs li {
  color: #000;
  font-size: 20px;
  font-weight: normal;
}
.my-activities-header .breadcrumbs li:first-child, .my-activities-header .breadcrumbs li:before {
  display: none;
}

.my-activities-nav {
  margin-bottom: 100px;
}

.my-activities-sub-nav {
  margin-bottom: 15px;
  text-align: center;
}

.my-activities-sub-nav li a {
  border: 2px solid transparent;
  /*hover off*/
  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

.my-activities-sub-nav li a:hover {
  border-style: solid;
  border-width: 2px;
  border-color: transparent
                transparent
                rgba(128, 128, 128, 0.3)
                transparent;
  /*hover on*/
  -webkit-transition: border-color 250ms ease;
  -moz-transition: border-color 250ms ease;
  -o-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

tbody tr:hover {
  background-color: #EAF0F9;
}

.request-table-toolbar {
  background: #f9f9f9;
  display: table;
  padding: 8px;
  width: 100%;
}

.request-table-filters {
  display: table-cell;
  text-align: right;
}
[dir=rtl] .request-table-filters {
  text-align: left;
}
.request-table-filters label:before {
  content: " ";
  width: 25px;
  display: inline-block;
}

.requests-search {

  outline: none;
  padding: 6px 15px;
}

.request-id {
  color: #BEBEBE;
}

.request-details {
  background: #f9f9f9;
  border: 1px solid #EEE;
  border-radius: 3px;
  font-size: 12px;
  margin: 0 0 30px;
  padding: 15px 20px;
}

.request-details dt ~ dt, .request-details form dt {
  font-weight: bold;
  margin-top: 15px;
}

.request-details dd {
  margin: 2px 0 0;
  word-wrap: break-word;
}

.request-details dd ul {
  margin: 10px 0;
}

.request-details dd li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0 0 3px 0;
}

.request-details .nested-field-tag:before {
  content: " > ";
}
.request-details .nested-field-tag:first-child:before {
  content: "";
}

.request-status {
  color: #FFF;
  border-radius: 3px;
}

.request-open {
  background: #59BBE0;
}

.request-answered {
  background: #F5CA00;
}

.request-solved {
  background: #828282;
}

/* Community heading */
.community-heading {
  font-size: 18px;
  margin: 0;
  width: 100%;
}

/* Community nav */
.community-nav {
  border-bottom: 1px solid #EEE;
  margin-bottom: 55px;
  padding: 25px 0;
}

.community-nav li {
  display: inline-block;
  font-weight: bold;
  padding-right: 30px;
}

.community-nav li a {
  font-weight: normal;
}

.community-nav li + li {
  border-left: 1px #EEE;
  padding-left: 30px;
}

.community-nav li:last-child {
  border: 0;
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
  top: -5px;
}
[dir=rtl] .community-nav li:last-child {
  float: left;
}

.community-nav li:last-child a {
  color: $color_4;
}

.community-nav li:last-child a:before {
  content: "\270E";
  font-family: "entypo";
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
[dir=rtl] .community-nav li:last-child a:before {
  margin-right: 0;
  margin-left: 10px;
}

/* Community sub-nav */
.community-sub-nav {
  border-bottom: 1px solid #EEE;
  padding: 15px 0;
  position: relative;
  width: 800px;
}

.community-sub-nav li {
  display: inline-block;
  font-weight: bold;
  padding-right: 15px;
}

.community-sub-nav li a {
  font-weight: normal;
}

.community-sub-nav li + li {
  padding-left: 15px;
}

.community-sub-nav .topic-add {
  position: absolute;
  right: 0;
  top: 10px;
}

/* Topics/questions/answers */
.topic {
  display: inline-block;
  width: 49.5%;
  padding: 20px 30px 20px 0;
  vertical-align: top;
}

.topic-header, .question-header {
  border-bottom: 1px solid #EEE;
  display: table;
  padding-bottom: 10px;
}

.topic-header > *, .question-header > * {
  display: table-cell;
  vertical-align: middle;
}

.topic-header .topic-meta, .question-header .question-meta {
  padding: 0 15px;
  white-space: nowrap;
}

.topic-heading, .question-heading, .answer-list-heading {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
}

.topic-heading {
  font-size: 18px;
}

.topic-questions {
  margin-top: 45px;
}

.topic-description {
  word-break: break-word;
}

.question, .answer {
  border-bottom: 1px solid #EEE;
  padding: 20px 0;
  position: relative;
}

.question-form .nesty-input {
  max-width: none;
}

.question-avatar, .answer-avatar {
  display: table-cell;
  margin-right: 10px;
  min-width: 50px;
  position: relative;
  vertical-align: top;
}

.question-avatar-agent:after, .answer-avatar-agent:after {
  background-color: transparent;
  background-image: url(/hc/assets/agent-marker.png);
  background-image: url(/hc/assets/agent-marker.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 30px;
  top: 30px;
  content: " ";
}

.question-avatar img, .answer-avatar img {
  border-radius: 3px;
  max-height: 38px;
  max-width: 38px;
}

.question-body, .answer-body, .answer-official-body {
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.question-body .answer-official-body {
  vertical-align: top;
  width: 100%;
}

.question-body p, .answer-body p, .answer-official-body p {
  margin: 0 0 5px;
}

.question-body .question-meta, .answer-body .answer-meta, .answer-official-body .answer-meta {
  float: left;
}

.question .answer {
  border: none;
  padding-bottom: 0;
}

.question-topic-list {
  margin: -20px 0 30px;
}

.question-topic-list li {
  display: inline-block;
  margin: 10px 10px 0 0;
}

.question-topic-list a {
  background: #f6f6f6;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 5px;
  color: #CCC;
  display: inline-block;
  font-size: 11px;
  padding: 7px 15px;
}

.question-title, .topic-title {
  margin: -3px 0 5px;
  font-size: 15px;
}

.question-title a, .topic-title a {
  font-weight: lighter;
}

.question-meta, .answer-meta, .topic-meta {
  color: #CCC;
  font-size: 11px;
}

.topic-meta span + span:before, .question-meta span + span:before, .answer-meta span + span:before {
  content: "\2022";
  font-size: 10px;
  margin: 0 10px;
}

.answer-form {
  margin: 30px 0 0 95px;
}

.answer-form-controls {
  display: none;
  margin-top: 10px;
  text-align: right;
}

.answer-form-controls input[type=submit] {
  margin-left: 15px;
}

.answer-form-controls .pull-left {
  float: left;
}

.answer-official-heading {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 20px;
  border-bottom: 0px;
}

.answer-list-heading {
  border-bottom: 1px solid #EEE;
  margin-top: 30px;
  padding-bottom: 20px;
}

.pending-moderation-answer-badge {
  clear: both;
  border-style: solid;
  border-width: 1px;
  border-color: #c7aa2b;
  color: #c7aa2b;
  padding: 3px 5px;
  float: left;
  margin-top: 10px;
  font-size: 12px;
}

.question-share, .answer-share {
  position: relative;
}

.related-questions-header {
  border-bottom: 1px solid #EEE;
}

.related-questions-heading {
  margin-top: 3px;
}

.related-questions li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Vote */
.vote {
  display: table-cell;
  margin-left: 15px;
  margin-right: 10px;
  min-width: 95px;
  vertical-align: top;
}

.vote-sum, .vote-controls {
  display: inline-block;
  vertical-align: middle;
}

.vote-sum {
  font-size: 15px;
  font-weight: bold;
  min-width: 60px;
  padding-left: 10px;
  text-align: center;
}

.vote-controls {
  border-radius: 5px;
}

.vote-controls a {
  background: #FFF;
  border-color: #f6f6f6;
  box-shadow: none;
  color: #BEBEBE;
  display: block;
  font-family: "entypo";
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
}

.vote-up {
  border-radius: 5px 5px 0 0;
}

.vote-down {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.vote-up:before {
  content: "\E763";
}

.vote-down:before {
  content: "\E760";
}

.vote-controls:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.vote-controls:hover a {
  background: #FFF;
  border-color: #A6A6A6;
  color: #BBB;
}

.vote-controls a:hover, .vote-controls [aria-selected=true] {
  background: #f6f6f6;
  color: #333;
}

.vote-controls a:active {
  background: #CCC;
  color: #111;
}

/* Accept */
.answer-accept {
  color: #BBB;
  font-size: 15px;
  max-width: 15px;
  overflow: hidden;
  padding-top: 7px;
  position: absolute;
  white-space: nowrap;
}

.answer-accept:hover {
  text-decoration: none;
}

.answer-accept:before {
  content: "\2713";
  font-family: "entypo";
  margin-right: 5px;
}

.answer-accepted .answer-accept, .answer-accepted .vote-sum {
  color: green;
}

/* Admin controls */
.topic-controls, .question-controls, .answer-controls {
  float: right;
  font-size: 11px;
}

.topic-edit:before, .question-delete:before, .question-mark-as-spam:before, .answer-delete:before, .answer-mark-as-spam:before {
  color: #CCC;
  content: "\2022";
  font-size: 10px;
  margin-left: -16px;
  margin: 0 8px;
  pointer-events: none;
  position: relative;
  display: inline-block;
}

/* Share questions and answers */
.share-label {
  cursor: pointer;
}

.share-label + .share {
  background: #FFF;
  border: 1px solid #DDD;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  left: 50%;
  line-height: 70px;
  margin: 10px 0 0 -75px;
  position: absolute;
  text-align: center;
  top: 100%;
  white-space: nowrap;
  width: 175px;
  z-index: 1;
}

.share-label + .share:before, .share-label + .share:after {
  content: "";
  display: inline-block;
  left: 50%;
  position: absolute;
}

.share-label + .share:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  margin-left: -6px;
}

.share-label + .share:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  border-left: 6px solid transparent;
  margin-left: -5px;
}

.share-label[aria-selected="true"] {
  color: #111;
}

.share-label[aria-selected="true"] + .share {
  display: block;
}

.share-label[aria-selected="false"] + .share {
  display: none;
}

body.community-enabled .search-results-column {
  display: inline-block;
  vertical-align: top;
  width: 450px;
}
body.community-enabled .search-results-column + .search-results-column {
  margin-left: 35px;
}
[dir=rtl] body.community-enabled .search-results-column + .search-results-column {
  margin-left: 0;
  margin-right: 35px;
}

.search-results-subheading {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.search-results-subheading-link {
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
}

.search-results-list {
  margin-bottom: 25px;
}
.search-results-list > * {
  border-bottom: 1px solid #EEE;
  padding: 20px 0;
}
.search-results-list > *:first-child {
  border-top: 1px solid #EEE;
}

.search-result-link {
  font-size: 16px;
}

.search-result-link:hover {
  color: #ff7000;
}

.search-result-description, .search-result-meta {
  padding-top: 0;
  color: gray;
}

.search-result-meta-name, .search-result-meta-time, .search-result-meta-count {
  font-size: 12px;
  color: #BEBEBE;
}

.search-result-meta-time:before, .search-result-meta-count:before {
  display: inline-block;
  padding-right: 5px;
  content: '\2022';
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.search-result-votes {
  background: #A8D119;
  border-radius: 2px;
  color: #FFF;
  display: inline-block;
  line-height: 1;
  margin-left: 5px;
  padding: 4px 5px;
  position: relative;
  top: -2px;
}
.search-result-votes:before {
  content: "\1F44D";
  font-family: "entypo";
  margin-right: 3px;
}

.chat {
  background: #f6f6f6;
  border: 1px solid #E0E0E0;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 13px;
  line-height: 35px;
  padding: 0 15px;
  position: fixed;
  right: 85px;
  -webkit-transition: bottom .5s ease-in, color .5s ease-in;
  -moz-transition: bottom .5s ease-in, color .5s ease-in;
  -ms-transition: bottom .5s ease-in, color .5s ease-in;
  -o-transition: bottom .5s ease-in, color .5s ease-in;
  transition: bottom .5s ease-in, color .5s ease-in;
}

.chat:before {
  content: "\E720";
  font-family: "entypo";
  font-size: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.chat:hover {
  text-decoration: none;
}

.chat-available {
  bottom: 0;
}

.chat-unavailable {
  color: gray;
  cursor: default !important;
  bottom: -50px;
}

.error-page {
  margin: 0 auto;
  max-width: 500px;
  padding-top: 5%;
}

.error-page h1 {
  font-size: 52px;
  margin-bottom: 0;
}

.error-page h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.error-page > a {
  display: block;
  margin-top: 25px;
}

.recent-activity {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 25px 20px;
  width: 270px;
}

.recent-activity-header {
  margin-top: 0;
  font-size: 15px;
}

.recent-activity-item ~ .recent-activity-item {
  margin-top: 15px;
}

.recent-activity-item-parent {
  color: $color_3;
  font-size: 12px;
  text-decoration: none;
  display: block;
}
.recent-activity-item-parent:hover {
  text-decoration: underline;
}

.recent-activity-item-link {
  display: block;
}

.recent-activity-item-meta {
  font-size: 12px;
  color: #999;
}

.recent-activity-item-time {
  display: inline-block;
}

.recent-activity-item-comment {
  display: none;
}
.recent-activity-item-comment:before {
  display: inline-block;
  content: "•";
}
.recent-activity-item-comment span:before {
  font-family: "entypo";
  content: "\00a0\00a0\e718";
  display: inline-block;
  vertical-align: middle;
  padding-right: 3px;
}

[data-recent-activity-action="article_comment_added"] .recent-activity-item-comment,
[data-recent-activity-action="post_comment_added"] .recent-activity-item-comment,
[data-recent-activity-action="answer_added"] .recent-activity-item-comment {
  display: inline-block;
}

.recent-activity-controls,
.recent-activity-loader {
  padding-top: 20px;
  font-size: 12px;
}

.recent-activity-loader {
  display: inline-block;
  position: relative;
}
.recent-activity-loader:before {
  display: block;
  position: absolute;
  content: "\0020";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #f9f9f9 50%, rgba(255, 255, 255, 0) 100%);
  animation: recent-activity-loader 0.5s infinite;
  -webkit-animation: recent-activity-loader 0.5s infinite;
}

@keyframes recent-activity-loader {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes recent-activity-loader {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* =============================
   Media Queries
   ============================= */
@media screen and (max-width: 730px) {

  main {
    min-width: 490px;
  }

  .search-container {
    width: 90%;
  }

  .ticket-button-column {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  .small-button-container {
    margin-top: 70px;
  }

  .ticket-button {
    width: 100%;
  }

  .button-text {
    display: none;
  }

  .search-container
  .search
  input[type=search] {
    width: 70%;
  }

  .search-container
  .search
  input[type=submit] {
    width: 30%;
  }

  .header {
    min-width: 490px;
  }

  .header-inner {
    width: 95%;
  }

  .nav-link > a {
    padding-left: 10px;
    padding-right: 5px;
  }

  .user-info > [role=button] {
    padding-left: 10px;
  }

  .knowledge-base {
    width: 100%;
  }
}
